{% extends "./base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    <div class="container text-center mt-5 p-5" style="background-color: #e0e0e0">
        <div class="container col-6">
            <h1>Reset Your Password</h1>
            {% if validlink %}
                <p>Please enter your new password Twice.</p>
            {% else %}
                <p>The reset Link is Invalid Possibly because it is already used.</p>
                <p>Please request a new Reset Request.</p>
            {% endif %}
        </div>
    </div>


    <div class="container col-6 text-center mt-4 p-3">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Reset"></p>
        </form>
    </div>

{% endblock %}