{% extends "./base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    <div class="container text-center mt-5 p-5" style="background-color: #e0e0e0">
        <div class="container col-6">
            <h1>Reset Link?</h1>
            <p>We have emailed you the link to reset the password.</p>
            <p>So, please check the emails and go to that link.</p>
            <p>There you can find the process to reset the password.</p>
            <hr>
            <div class="alert alert-info" role="alert">
              <p>In case you haven't received the mail, then you confirm you have entered the email you have signed up with.</p>
            </div>
        </div>
    </div>

{% endblock %}