{% extends "./base.html" %}

{% block title %}Email Sent{% endblock %}

{% block content %}

    <div class="container text-center mt-5 p-5" style="background-color: #e0e0e0">
        <div class="container col-6">
            <h1>Email Verification</h1>
            <p class="fs-5 text-muted">We have sent you an email containing a verification link.</p>
            <p class="fs-5 text-muted">Please click on that link and verify you email {{user.username}}.</p>
            <div class="alert alert-info" role="alert">
                If you can't see that then Please check your spam folder.
            </div>
        </div>
    </div>

{% endblock %}
