{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="container text-center mt-5 p-5" style="background-color: #e0e0e0">
        <div class="container col-6">
            <h1>Log-In</h1>
            <p class="fs-5 text-muted">Please fill Username and Password to LogIn to your Account.</p>
        </div>
    </div>

    <div class="container col-6 text-center mt-4 p-3">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% for field in login_form %}
            <p>
                {{ field.label }}
                {{ field }}
                {% if field.help_text %}
                  <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
            </p>
            {% endfor %}

            <p><input type="submit" value="Login"></p>
        </form>
    </div>

{% endblock %}