<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>

    <style>
      a {
        text-decoration: none !important;
        color: black;
      }
      .errorlist {
        display: none;
      }
      .helptext {
        display: none;
      }
      form > p {
        padding: 0.3rem;
      }
    </style>
  </head>
  <body>
<!--    navbar-->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container py-3 px-3" style="border-bottom: 2px solid rgb(45,65,85)">

        <a class="navbar-brand fs-1" href="{% url 'o_dashboard' %}"> <strong>PGFinder</strong></a>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav fs-4">
              <a class="nav-link active" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                  Menu
              </a>
          </div>
        </div>

      </div>
    </nav>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ user.username }}</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body text-center">

            {% load cloudinary %}
            <img src={{profilePic}} >
            <p class="text-center text-dark fs-5 m-3">{{ user.first_name }} {{ user.last_name }}</p>
            <hr>
            <a href="#" class="nav-link fs-4 active text-dark font-weight-bold">PG List</a>
            <a href="{% url 'o_register_pg_details' %}" class="nav-link fs-4 active text-dark font-weight-bold">Register New PG</a>
            <a href="#" class="nav-link fs-4 active text-dark font-weight-bold">Notifications</a>
            <a href="#" class="nav-link fs-4 active text-dark font-weight-bold">Profile</a>
            <a class="nav-link fs-4 active text-dark" href="{% url 'logout' %}">Logout</a>

        </div>
    </div>

    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>