{% extends './base.html' %}

{% block title %}PG List{% endblock %}

{% block content %}

    <div class="container text-center mt-5 p-3" style="background-color: #e0e0e0">
        <div class="container col-6">
            <h1>Here is the list of your PGs {{user.first_name}} {{user.last_name}}.</h1>
        </div>
    </div>

    {% for pg in pgs %}
        <div class="container mt-4 p-3 col-md-8">
            <div class="card text-center">
                {% if pg.is_verified is True %}
                <span class="badge bg-success">Verified</span>
                {% else %}
                <span class="badge bg-danger">Not Verified</span>
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ pg.name }}</h2>
                    <h5 class="card-subtitle mb-2 text-muted">{{ pg.owner.user.first_name }} {{ pg.owner.user.last_name }}</h5>
                    <hr>
                    <p class="card-text">{{ pg.description|truncatewords:15 }}</p>
                    <hr>
                    <a href="{% url 'pg_details' pgID=pg.pgID %}" class="card-link">Open</a>
              </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}